<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'footer.css' %}">
  <link rel="stylesheet" href="{% static 'header.css' %}">
  <link rel="stylesheet" href="{% static 'nav.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Teko:wght@600&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Playfair+Display&family=Bangers&family=Bitter&family=Cinzel:wght@700&family=Creepster&family=Exo&family=Expletus+Sans&family=Great+Vibes&family=Indie+Flower&family=Lato:wght@700&family=Luckiest+Guy&family=Merriweather:wght@700&family=Metal+Mania&family=Montserrat&family=Nosifer&family=Old+Standard+TT&family=Pacifico&family=Raleway:wght@700&family=Slabo+27px&family=Space+Grotesk:wght@700&family=Special+Elite&family=Teko:wght@600&family=AR+One+Sans:wght@400..700&family=Bebas+Neue&family=Buda:wght@300&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Kaisei+Opti&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lugrasimo&family=Rampart+One&family=Zen+Dots&display=swap"
    rel="stylesheet" />
  <script src="{% static 'base.js' %}"></script>
  {% block js %} {% endblock js%}
  {% block htmlhead %}
  {% endblock htmlhead %}
  <title>{%block title%}{%endblock%}</title>
  <style>
    body {
      background-color: #00070a;
      font-family: 'Bitter', sans-serif;
      max-width: 100%;
    }
  </style>
</head>

<body>
  {% include 'nav.html' %}
  <input type="hidden" name="user" value="{{user.username}}">
  <input type="hidden" name="csrf" value="{{ csrf_token }}">
  <header>
    <div class="header-container">
      <div class="header-l">
        <a href="home.html" id="header-title" style="font-family: 'Teko', sans-serif">LMKRT</a>
        <ul class="header-nav">
          <li><a href="home.html">Home</a></li>
          <li><a href="new.html">What's New</a></li>
          <li><a href="movie.html">Movie</a></li>
          <li><a href="tv.html">TV</a></li>
        </ul>
      </div>
      <div class="header-r">
        <section>
          <form>
            <input type="search" class="search-Input" id="searchInput" name="search" placeholder="Search..." />
          </form>
        </section>
        <ul>
          <li id="header-bookmark"><a href="bookmark.html"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            id="header-user">
            <i class="fa fa-user" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" type="button" href="{% url 'logout' %}">Logout</a>
              <form method="post" action="{% url 'logout' %}" style="display: none;">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
          </ul>
          <li id="header-login"><a href="login_signup.html">Login / Sign Up</a></li>
        </ul>
      </div>
    </div>
  </header>
  {%block content %}{%endblock%}
  <footer>
    <div class="footer">
      <div class="footer-container">
        <div class="footer-company">
          <div class="footer-logo">LMKRT</div>
          <div id="footerTag">1999-2024 LMKRT,Inc</div>
        </div>
        <div class="footer-text-container">
          <div>Audio Description</div>
          <div>Investor Relations</div>
          <div>Legal Notices</div>
          <div>Help Center</div>
          <div>Jobs</div>
          <div>Cookie Preferences</div>
          <div>Gift Cards</div>
          <div>Terms of Use</div>
          <div>Corporate Information</div>
          <div>Media Center</div>
          <div>Privacy</div>
          <div>Contact Us</div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>