{% extends 'base.html' %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock htmlhead %}
{% block js %} 
<script src="{% static 'home.js' %}" ></script>
{% endblock js %}
{% block title %} Home {% endblock %}


{% block content %}
<div class="container" id="home-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-current="true"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="all-list-container">
    <div class="pop-movie-list-container list-container">        
        <div class="list-bar" id="pop-movie-bar" >
            <span class="title-more" id="pop-movie-more">Popluar Movie</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="list-btn list-btn-next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="pop-movie-list card-list" id="pop-movie-list">
        </div>
    </div>
    <div class="pop-tv-list-container list-container">
        <div class="list-bar" id="pop-tv-bar" >
            <span class="title-more" id="pop-tv-more">Popluar TV Series</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="list-btn list-btn-next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="pop-tv-list card-list" id="pop-tv-list">
        </div>
    </div>
    <div class="pop-cast-list-container list-container">
        <div class="list-bar" id="pop-tv-bar" >
            <span class="title-more" id="pop-tv-more">Popluar Cast & Crew</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="list-btn list-btn-next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="pop-people-list cast-list" id="pop-people-list">
        </div>
        <div class="collapse-list" id="collapse-list"></div>
    </div>
</div>
</div>

{% endblock %}