{% extends 'base.html' %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock htmlhead %}
{% block title %} Home {% endblock %}


{% block content %}
<div class="container" id="home-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-current="true"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            {% for movie in carousel %}
            {% if forloop.counter <= 6 %} <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                id="slide{{ forloop.counter }}">
                <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" class="d-block w-100 opacity-75"
                    alt="GameCover">
                <div class="carousel-caption d-none d-md-block">
                    <h1>{{movie.title}}</h5>
                        <p>{{movie.genre_ids}}</p>
                </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="all-list-container">
    <div class="list-container">
        <div class="list-bar" id="pop-movie-bar" >
            <span class="pop-more" id="pop-movie-more">Popluar Movie</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev"> < </button>
                <button class="list-btn list-btn-next"> > </button>
            </span>
        </div>
        <div class="card-list">
            {% for movie in popMovie %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="list-container">
        <div class="list-bar" id="pop-tv-bar" >
            <span class="pop-more" id="pop-tv-more">Popluar TV</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev"> < </button>
                <button class="list-btn list-btn-next"> > </button>
            </span>
        </div>
        <div class="card-list">
            {% for tv in popTv %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w342{{tv.poster_path}}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>

{% endblock %}