{% extends 'base.html' %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" href="{% static 'movie.css'%}">
{% endblock htmlhead %}
{% block js %} <script src="{% static 'movie.js' %}" ></script> {% endblock %}
{% block title %} Movie {% endblock %}

{% block content%}
<img id="hero-backdrop" src="" alt="">
<img id="hero-backdrop-border" src="" alt="">
<div class="hero-container">
    <div class="hero-detail-container">
        <div class="hero-detail-title" id="hero-detail-title"></div>
        <div class="hero-detail-genre"></div>
        <div class="hero-detail-list">
            <div class="hero-detail-rate"></div>
            <span class="hero-detail-list-divider"> | </span>
            <div class="hero-detail-lang"></div>
            <span class="hero-detail-list-divider"> | </span>
            <div class="hero-detail-date"></div>
        </div>        
        <div class="hero-detail-description"></div>
        <span class="hero-detail-btn-container">
            <button class="hero-detail-btn" id="hero-detail-trailer-btn"><i class="fa fa-play" aria-hidden="true"></i> Trailer</button>
            <button class="hero-detail-btn" id="hero-detail-info-btn"><i class="fa fa-info" aria-hidden="true"></i> Info</button>
        </span>
    </div>
</div>

<div class="content-container container ">
    <div class="hero-video-container">
        <div class="list-bar">
            <span class="hero-video-title">Related Videos</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="list-btn list-btn-next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="hero-video-list">
        </div>
    </div>
    <div class="divider">
    </div>
    <div class="pop-list-container">
        <div class="list-bar">
            <span class="title-more">Top 10 Popluar Movie</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="list-btn list-btn-next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="pop-list card-list"> 
        </div>
    </div>
    <div class="list-container">
        <div class="list-bar">
            <span class="title-more">Top Rated Movie Of Year</span>
            <span class="list-btn-container">
                <button class="list-btn list-btn-prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="list-btn list-btn-next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="top-rated-list card-list">            
        </div>
    </div>
    <div class="divider"></div>
    <div class="find-movie-container">
        <div class="find-movie-filter-container">
            <div class="genre-dropdown dropdown">                
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Genre
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>            
                <ul class="dropdown-menu">
                    {% for genre in movieGenre.genres %}
                    <li><p class="dropdown-item" >{{genre.name | capfirst }}</p></li>     
                    {% endfor %}       
                </ul>
            </div>
            <div class="find-movie-sort-container">Sort by 
                <div class="dropdown">                    
                    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Popularity Desc
                        <i class="fa fa-sort find-movie-sort-btn" aria-hidden="true"></i>                
                    </button>
                    <ul class="dropdown-menu">                        
                        <li><p class="dropdown-item" >Popularity Desc</p></li>
                        <li><p class="dropdown-item" >Popularity Asc</p></li>
                        <li><p class="dropdown-item" >Release Date Desc</p></li>
                        <li><p class="dropdown-item" >Release Date Asc</p></li>
                        <li><p class="dropdown-item" >Rating Desc</p></li>
                        <li><p class="dropdown-item" >Rating Asc</p></li>   
                        <li><p class="dropdown-item" >Name Desc</p></li>
                        <li><p class="dropdown-item" >Name Asc</p></li>                
                    </ul>
                </div>                                
            </div>
        </div>        
        <div class="find-movie-list"> 
            {% for movie in allMovie %}
            {% if forloop.counter < 5 %}
                <div class="movie-list-item">
                    <img class="movie-list-item-img" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">                    
                    <div class="movie-list-item-detail">
                        <div class="movie-list-item-title">{{movie.title}}</div>
                        <div class="movie-list-item-date">{{movie.release_date}}</div>
                        <div class="movie-list-item-genre">{{movie.genre_ids}}</div>
                        <div class="movie-list-item-rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {{movie.vote_average}}</div>
                    </div>
                    <span>
                        <i class="fa fa-heart movie-list-item-like" aria-hidden="true"></i>
                        &nbsp;
                        <i class="fa fa-info-circle movie-list-item-info" aria-hidden="true"></i>
                    </span>                    
                </div>
                {% if forloop.counter < 4 %}
                <div class="list-item-divider"></div>
                    {% endif %}
                {% endif %}
            {%  endfor %}
        </div>
        <nav>
            <ul class="pagination justify-content-center" >
              <li class="page-item">
                <p class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </p>
              </li>
              <li class="page-item"><p class="page-link">1</p></li>
              <li class="page-item"><p class="page-link">2</p></li>
              <li class="page-item"><p class="page-link">3</p></li>
              <li class="page-item"><p class="page-link">4</p></li>
              <li class="page-item"><p class="page-link">5</p></li>
              <li class="page-item"><p class="page-link">...</p></li>
              <li class="page-item"><p class="page-link">100</p></li>              
              <li class="page-item">
                <p class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </p>
              </li>
            </ul>
        </nav>
    </div>
</div>
{%endblock%}