{% extends 'base.html' %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" href="{% static 'bookmark.css'%}">
{% endblock htmlhead %}
{% block js %} 
<script src="{% static 'bookmark.js' %}" ></script>
{% endblock js %}
{% block title %} Bookmark {% endblock %}

{% block content%}
<div class="container bookmark-container">
    <div class="bookmark-title">Bookmark <i class="fa fa-bookmark" aria-hidden="true"></i></div>
    <div class="divider"></div>
    <div class="bookmark-list"></div>
</div>
{% endblock %}