  footer {
      bottom: 0;
      margin-top: 100px;
      padding-bottom: 50px;
      width: 100%;
    }
    
    .footer-container {
      display: flex;
      justify-content: space-around;
      font-size: smaller;
      margin-left: 200px;
      margin-right: 200px;
    }
    
    .footer-text-container {
      color: rgba(255, 255, 255, 0.6);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      width: 50%;
    }
    
    .footer-text-container div {
      transition: all 0.3s;
      cursor: pointer;
    }
    
    .footer-text-container div:hover {
      color: white;
    }

    .footer-company{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footer-logo{
      font-family: 'Teko', sans-serif;
      color: #009bd6;
      font-size: 1.5rem;
    }

    #footerTag {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 20px;
      text-align: center;
    }
    
    #footerTag::before {
      font-family: "FontAwesome";
      content: "\f1f9";
      margin-right: 5px;
    }
    
    .footer {
      display: flex;
      flex-direction: column;
    }
    
  @media only screen and (max-width: 767px) {
    .footer-container{
      margin: 0;
    }

    footer{
      margin: 50px 5px;
      width: 100%;
    }

    .footer-text-container{
      font-size: smaller;
      align-items: center;
      width: auto;
    }

    .footer-logo{
      font-size: 1rem;
    }

    #footerTag{
      margin-left: 0;
    }

  }