.hero-container{
    margin-top: 1.5vi;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
}


.carousel.slide{
    max-width: 50vi;
}

.carousel.slide::before{
    content: " ";
    position: absolute;
    z-index: 1;
    width: 50vi;
    height: 100%;
    background-image: linear-gradient(#00000000,#00000080, #000000);
}

.carousel.slide button{
    z-index: 2;
}

.carousel-item-poster{
    width: 10vi;
    height: 15vi;
    border-radius: 5px;
    position: absolute;
    left: -7vi;
    bottom: -1vi;
    opacity: 1;
    z-index: 100;
}

.carousel-caption{
     z-index: 100;
}

.carousel-caption h4{
    height: 3vi;
}

.upcoming-container{
    background: linear-gradient(to bottom,#181818 , #000000);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.upcoming-container-title{
    color: gold;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.upcoming-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.upcoming{
    display: inline-flex;
    align-items: center;
    width: 18   vi;
    gap: 1em;
    color: white;
}

.upcoming-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.upcoming-title{
    color: white;
    align-items: center;
}

.upcoming img{
    width: 5vi;
}

.upcoming-lang{
    background-color: #b40b14;
    padding: 0 0.5em;
    border-radius: 5px;
    text-align: center;
    width: 3rem;
}